/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&display=swap');

/* Common Styles */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Header Style----- */
.cover{
    width: 1321px;
    background: #161616;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 0 80px;
    margin-top: 50px;
    transition: justify-content 5s ease 1s;
}
.cover:hover{
    justify-content: space-between;
}
.cover-text{
    color: white;
    width: 531px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
}
.cover-text h2{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}
.cover-text p{
    font-weight: 400;
    font-size: 14px;
}
.cover-text a{
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 25px;
    gap: 10px;
    border-radius: 5px;
    font-weight: 700;
}
.cover-text a:hover {
    background-color: white;
    color: #DD0000;
}
.cover-image{
    width: 700px;
    margin-bottom: -7px;
}

/* -- Main style -- */



/* section style */
.content-section{
    margin-top: 150px;
}
.container {
    width: 1321px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

/* ------------
    features box style 
    --------------------*/
.feature-box{
    width: 290px;
    height: 280px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    color: #161616;;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    padding: 10px 24px;
    background-color: white;
    border-radius: 10px;
    
}
.button:hover {
    color: white;
    background-color: red;

}

/* -------------
    content box styles
    --------------------- */
.responsive-box {
    flex-grow: 1;
    margin-left: 50px;
}
.contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 984px;
}
.single-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.content-details h3{
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0;
}
.content-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-button{
    margin-top: 10px;
    margin-bottom: 5px;
}

.blog-button{
    color: #161616;;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    height: 32px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
}
.blog-button:hover{
    color: white;
    background-color: black;
}
.hidden-button{
    visibility: hidden;
}
/* ---------- 
    footer styles
    -------------- */
footer{
    width: 1600px;
    height: 444px;
    margin-top: 130px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer h2{
    font-weight: 600;
    font-size: 40px;
    color: white;
}
footer hr{
    width:1600px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-info {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.footer-info p{
    margin: 10px;
    color: #B9B9B9;
}
.footer-link{
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 300px;

}
.footer-link a{
    text-decoration: none;
    color: #B9B9B9;
}

/* ---------------------
    2nd HTML Page match-fixturesh
    -------------------------------- */
.match-fixtures{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.single-match{
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.match-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.single-match h3{
    margin: 15px 0 5px;
}
.single-match p{
    margin: 0;
    color: #4D4D4D;
}

/* ---------------
    Media Queries  
------------------*/

/* Mobile Devices */

@media only screen and (max-width:688px) {
    body{
        width: 100vw;
        margin: 0;
    }
    .cover{
        width: 100vw;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
    }
    .cover-text{
        margin-top: 40px;
        padding: 0;
        width: 70%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cover h2{
        width: 300px;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    .cover-text p{
        width: 60%;
        font-size: 14px;
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .cover-image{
        width: 100vw;
    }
    .cover-image img{
        width: 100vw;
    }

    /* mobile content styles */
    .content-section{
        margin-top: 10px;
    }
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .feature-box{
        background-color: #F3F1FF;
        margin-bottom: 10px;
    }
    .button{
        background-color: #F3F1FF;
        border: 1px solid #F3F1FF;
        font-weight: 600;
    }
    .responsive-box{
        margin: 0;
    }
    .contents{
        width: 311px;
        margin: 0;
        padding: 0;
        grid-template-columns: none;
    }
    
/* footer  style */
    footer{
        width: 100vw;
        justify-content: flex-start
    }
    footer h2{
        font-size: 22px;
    }
    footer hr{
        border: .25px solid rgb(185, 181, 181);
        width: 100vw;
    }
    .footer-info{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-info p{
        font-size: 14px;
    }
    .footer-link{
        margin-top: 40px;
        justify-items: center;
        margin-bottom: 10px 0;
    }
    

}

/* ------------------
    Tablet Devices 
   ------------------ */

@media only screen and (min-width:689px) and (max-width:992px) {

    .cover{
        width: 80vw;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }
    .cover-text{
        padding: 0;
        width: 40vw;
        display: flex;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .cover h2{
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    .cover-text p{
        font-size: 14px;
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .cover-image{
        width: 30vw;
    }
    .cover-image img{
        width: 40vw;
    }

    /* -------
    tablet content styles
    ------------- */
    .content-section{
        margin-top: 10px;
    }
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .feature-box{
        height: 100px;
        flex-direction: row;
        justify-content: center;
        background-color: #F3F1FF;
        margin-bottom: 10px;
    }
    .button{
        background-color: #F3F1FF;
        border: 1px solid #F3F1FF;
        font-weight: 600;
        font-size: 20px;
    }
    .responsive-box{
        margin: 0;
    }
    .contents{
        width: 80vw;
        margin: 0;
        padding: 0;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }
    #hidden-content{
        display: none;
    }
    .hidden-button{
        visibility: visible;
        border: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;
    }
    .view-all-button{
        text-align: center;
        margin-top: 20px;
        padding: 10px 0;
        border: 1px solid red;
        border-radius: 5px;
        color: white;
        background-color: red;
        font-weight: 600;
        font-size: 24px;
    }
/* footer  style */
    footer{
        width: 100vw;
        justify-content: flex-start
    }
    footer h2{
        font-size: 22px;
    }
    footer hr{
        width: 100vw;
        border: .25px solid rgb(185, 181, 181);
    }
    .footer-info{
        width: 50vw;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 200px;
    }
    .footer-info p{
        font-size: 14px;
    }
    .footer-link{
        margin-top: 40px;
        justify-items: center;
        margin-bottom: 10px 0;
    }
    
}
